*.py text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.html text working-tree-encoding=UTF-8
*.sql text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.csv -text -diff -working-tree-encoding
*.pdf -text -diff
"01. RA Portal/output/*.csv" -text -working-tree-encoding
